/*

	Main CSS file for all pages.

*/

.navbar{
	height:100vh;
}

#company-name{
	font-size: 26px;
}

.nav-item{
	font-size: 20px;
}

.nav-item a{
	margin-top: 10px;
}

.invalid-feedback{
	display: block !important;
}

.featurette-divider{
	background-color: #fff;
}

.pull-right{
	float:right;
}

.border-bot{
	border-bottom: 1px #e3e3e3 solid;
}

.fa-times-circle{
	color: red;
}

.fa-plus-square{
	color:green;
}